@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding:0;
    background-color: #89bbfe;
}

:root {
        --color-primary : #615d6cff;
        --color-secondary: #cae5ffff;
        --color-border: #acedff;
        --font-museo: 'MuseoModerno', cursive;
        --font-js: 'Josefin Sans', sans-serif;
        --font-chelsea:'Chelsea Market', cursive;
}

.font-museo {
    font: normal 400 18px var(--font-museo);
}

.font-js {
    font: normal 300 18px var(--font-js);
}

.font-chelsea{
    font: normal bold 18px var(--font-chelsea);
}

.font-size-40 {
    font-size: 40px;
}

.font-size-34 {
    font-size: 34px;
}
.font-size-27 {
    font-size: 27px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-16 {
    font-size: 16px;
}

.bgcolor-primary{
    background-color: var(--color-primary);
}

/*  end global classes */

/*  begin header css */

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: left .5s ease;
}

#header nav{
    height: 100vh;
}

#header .site-title .navbar-brand{
    letter-spacing: 2px;
    color: var(--color-secondary);
}

#header .nav-link{
    margin: .7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
    font-family: var(--font-js);
}

#header .nav-link:hover{
    color: var(--color-secondary) !important;
}

#header .toggle-button{
    background: none;
    color: var(--color-primary);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(--color-border);
}
.toggle-left{
    left: 0 !important;
    width: 1000px !important;
}

/* home section css */
.site-banner    .banner-area{
    background: url("./assets/maria-shkliaeva-cPyk1WR4D8g-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.site-banner    .banner-area .author{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img{
    width: 200px;
    height:  200px;
    border-radius: 50%;
    margin: auto;
    background: url("./assets/morgan_rigaud.jpg") no-repeat;
    background-size: 100%;
    background-position: 50% 0;
}

@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }
    #header{
        z-index: 0;
    }
}

.sections h2{
    font-family: var(--font-museo);
    padding: 10px;
    margin: 10px;
}

.sections ul{
    border-width: 0px;
}

.sections .card{
    border-width: 0px;
}

.list-group-item {
    background-color: #89bbfe;
    font-family: var(--font-js);
}

.logo {
    width: 50px;
    height:  50px;
    border-radius: 50%;
    margin: auto;
    background: url("./assets/html5-png.jpg") no-repeat;
    background-size: 100%;
    background-position: 50% 0;
}


